In [1]:
import sqlite3
import json
from datetime import datetime
import time

timeframe = '2011-09'
sql_transaction = []
start_row = 0
cleanup = 1000000

In [2]:

connection = sqlite3.connect('{}.db'.format(timeframe))
c = connection.cursor()

def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS parent_reply(parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)")

def format_data(data):
    data = data.replace('\n',' newlinechar ').replace('\r',' newlinechar ').replace('"',"'")
    return data

def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        connection.commit()
        sql_transaction = []

def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def acceptable(data):
    if len(data.split(' ')) > 1000 or len(data) < 1:
        return False
    elif len(data) > 32000:
        return False
    elif data == '[deleted]':
        return False
    elif data == '[removed]':
        return False
    else:
        return True

def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [5]:
if __name__ == '__main__':
    create_table()
    row_counter = 0
    paired_rows = 0

    with open("RC_2011-09", buffering=1000) as f:
        for row in f:
            #print(row)
            #time.sleep(555)
            row_counter += 1

            if row_counter > start_row:
                try:
                    row = json.loads(row)
                    parent_id = row['parent_id'].split('_')[1]
                    body = format_data(row['body'])
                    created_utc = row['created_utc']
                    score = row['score']
                    
                    comment_id = row['id']
                    
                    subreddit = row['subreddit']
                    parent_data = find_parent(parent_id)
                    
                    existing_comment_score = find_existing_score(parent_id)
                    if existing_comment_score:
                        if score > existing_comment_score:
                            if acceptable(body):
                                sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                
                    else:
                        if acceptable(body):
                            if parent_data:
                                if score >= 2:
                                    sql_insert_has_parent(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                    paired_rows += 1
                            else:
                                sql_insert_no_parent(comment_id,parent_id,body,subreddit,created_utc,score)
                except Exception as e:
                    print(str(e))
                            
            if row_counter % 100000 == 0:
                print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))

            if row_counter > start_row:
                if row_counter % cleanup == 0:
                    print("Cleanin up!")
                    sql = "DELETE FROM parent_reply WHERE parent IS NULL"
                    c.execute(sql)
                    connection.commit()
                    c.execute("VACUUM")
                    connection.commit()

Total Rows Read: 100000, Paired Rows: 6769, Time: 2017-12-22 17:06:49.029003
Total Rows Read: 200000, Paired Rows: 14214, Time: 2017-12-22 17:07:08.777382
Total Rows Read: 300000, Paired Rows: 22671, Time: 2017-12-22 17:07:28.514717
Total Rows Read: 400000, Paired Rows: 31221, Time: 2017-12-22 17:07:48.281074
Total Rows Read: 500000, Paired Rows: 38914, Time: 2017-12-22 17:08:08.327774
Total Rows Read: 600000, Paired Rows: 46200, Time: 2017-12-22 17:08:28.243317
Total Rows Read: 700000, Paired Rows: 54404, Time: 2017-12-22 17:08:48.682424
Total Rows Read: 800000, Paired Rows: 62872, Time: 2017-12-22 17:09:08.846692
Total Rows Read: 900000, Paired Rows: 70596, Time: 2017-12-22 17:09:28.846552
Total Rows Read: 1000000, Paired Rows: 77906, Time: 2017-12-22 17:09:48.911846
Cleanin up!
Total Rows Read: 1100000, Paired Rows: 85743, Time: 2017-12-22 17:10:13.233442
Total Rows Read: 1200000, Paired Rows: 94070, Time: 2017-12-22 17:10:32.812402
Total Rows Read: 1300000, Paired Rows: 101571, Time: 2017-12-22 17:10:52.770109
Total Rows Read: 1400000, Paired Rows: 110029, Time: 2017-12-22 17:11:12.490985
Total Rows Read: 1500000, Paired Rows: 118379, Time: 2017-12-22 17:11:32.504186
Total Rows Read: 1600000, Paired Rows: 126149, Time: 2017-12-22 17:11:56.012434
Total Rows Read: 1700000, Paired Rows: 134016, Time: 2017-12-22 17:12:18.954414
Total Rows Read: 1800000, Paired Rows: 142283, Time: 2017-12-22 17:12:42.126951
Total Rows Read: 1900000, Paired Rows: 150516, Time: 2017-12-22 17:13:08.761645
Total Rows Read: 2000000, Paired Rows: 158103, Time: 2017-12-22 17:13:31.438880
Cleanin up!
Total Rows Read: 2100000, Paired Rows: 165989, Time: 2017-12-22 17:13:58.782683
Total Rows Read: 2200000, Paired Rows: 174776, Time: 2017-12-22 17:14:19.362931
Total Rows Read: 2300000, Paired Rows: 183153, Time: 2017-12-22 17:14:41.417828
Total Rows Read: 2400000, Paired Rows: 190643, Time: 2017-12-22 17:15:05.127002
Total Rows Read: 2500000, Paired Rows: 199013, Time: 2017-12-22 17:15:30.408455
Total Rows Read: 2600000, Paired Rows: 207713, Time: 2017-12-22 17:15:55.953672
Total Rows Read: 2700000, Paired Rows: 215884, Time: 2017-12-22 17:16:19.814739
Total Rows Read: 2800000, Paired Rows: 223795, Time: 2017-12-22 17:16:40.891126
Total Rows Read: 2900000, Paired Rows: 231782, Time: 2017-12-22 17:17:06.681214
Total Rows Read: 3000000, Paired Rows: 240568, Time: 2017-12-22 17:17:30.591102
Cleanin up!
Total Rows Read: 3100000, Paired Rows: 248166, Time: 2017-12-22 17:18:02.998281
Total Rows Read: 3200000, Paired Rows: 255808, Time: 2017-12-22 17:18:26.816313
Total Rows Read: 3300000, Paired Rows: 263176, Time: 2017-12-22 17:18:52.605997
Total Rows Read: 3400000, Paired Rows: 271611, Time: 2017-12-22 17:19:20.340615
Total Rows Read: 3500000, Paired Rows: 279577, Time: 2017-12-22 17:19:43.736446
Total Rows Read: 3600000, Paired Rows: 287199, Time: 2017-12-22 17:20:10.284286
Total Rows Read: 3700000, Paired Rows: 294246, Time: 2017-12-22 17:20:33.753677
Total Rows Read: 3800000, Paired Rows: 302171, Time: 2017-12-22 17:20:58.644611
Total Rows Read: 3900000, Paired Rows: 310212, Time: 2017-12-22 17:21:22.626915
Total Rows Read: 4000000, Paired Rows: 318352, Time: 2017-12-22 17:21:46.732987
Cleanin up!
Total Rows Read: 4100000, Paired Rows: 325484, Time: 2017-12-22 17:22:19.504514
Total Rows Read: 4200000, Paired Rows: 333876, Time: 2017-12-22 17:22:42.832282
Total Rows Read: 4300000, Paired Rows: 342631, Time: 2017-12-22 17:23:06.117035
Total Rows Read: 4400000, Paired Rows: 350208, Time: 2017-12-22 17:23:27.449457
Total Rows Read: 4500000, Paired Rows: 358797, Time: 2017-12-22 17:23:50.930211
Total Rows Read: 4600000, Paired Rows: 367482, Time: 2017-12-22 17:24:14.365798
Total Rows Read: 4700000, Paired Rows: 375886, Time: 2017-12-22 17:24:38.076527
Total Rows Read: 4800000, Paired Rows: 383787, Time: 2017-12-22 17:25:01.361015
Total Rows Read: 4900000, Paired Rows: 391835, Time: 2017-12-22 17:25:22.473905
Total Rows Read: 5000000, Paired Rows: 400234, Time: 2017-12-22 17:25:44.464529
Cleanin up!
Total Rows Read: 5100000, Paired Rows: 407482, Time: 2017-12-22 17:26:20.493845
Total Rows Read: 5200000, Paired Rows: 415378, Time: 2017-12-22 17:26:45.091667
Total Rows Read: 5300000, Paired Rows: 423041, Time: 2017-12-22 17:27:11.235861
Total Rows Read: 5400000, Paired Rows: 431868, Time: 2017-12-22 17:27:34.732498
Total Rows Read: 5500000, Paired Rows: 440184, Time: 2017-12-22 17:27:57.733993
Total Rows Read: 5600000, Paired Rows: 448043, Time: 2017-12-22 17:28:21.908239
Total Rows Read: 5700000, Paired Rows: 455541, Time: 2017-12-22 17:28:48.702191
Total Rows Read: 5800000, Paired Rows: 463965, Time: 2017-12-22 17:29:11.461660
Total Rows Read: 5900000, Paired Rows: 472588, Time: 2017-12-22 17:29:35.865238
Total Rows Read: 6000000, Paired Rows: 480414, Time: 2017-12-22 17:29:57.820538
Cleanin up!
Total Rows Read: 6100000, Paired Rows: 487025, Time: 2017-12-22 17:30:33.202717
Total Rows Read: 6200000, Paired Rows: 494973, Time: 2017-12-22 17:30:56.076002
Total Rows Read: 6300000, Paired Rows: 503215, Time: 2017-12-22 17:31:20.052067
Total Rows Read: 6400000, Paired Rows: 510526, Time: 2017-12-22 17:31:44.678048
Total Rows Read: 6500000, Paired Rows: 517561, Time: 2017-12-22 17:32:08.960187
Total Rows Read: 6600000, Paired Rows: 525197, Time: 2017-12-22 17:32:32.816484
Total Rows Read: 6700000, Paired Rows: 533120, Time: 2017-12-22 17:32:53.522808
Total Rows Read: 6800000, Paired Rows: 540894, Time: 2017-12-22 17:33:14.229738
Total Rows Read: 6900000, Paired Rows: 548145, Time: 2017-12-22 17:33:37.609023
Total Rows Read: 7000000, Paired Rows: 556246, Time: 2017-12-22 17:34:01.074407
Cleanin up!
Total Rows Read: 7100000, Paired Rows: 563942, Time: 2017-12-22 17:34:34.072922
Total Rows Read: 7200000, Paired Rows: 572112, Time: 2017-12-22 17:34:54.471190
Total Rows Read: 7300000, Paired Rows: 580318, Time: 2017-12-22 17:35:17.963037
Total Rows Read: 7400000, Paired Rows: 589371, Time: 2017-12-22 17:35:39.608090
Total Rows Read: 7500000, Paired Rows: 597822, Time: 2017-12-22 17:36:02.156572
Total Rows Read: 7600000, Paired Rows: 605289, Time: 2017-12-22 17:36:25.220760
Total Rows Read: 7700000, Paired Rows: 612992, Time: 2017-12-22 17:36:49.324871
Total Rows Read: 7800000, Paired Rows: 621542, Time: 2017-12-22 17:37:11.661508
Total Rows Read: 7900000, Paired Rows: 629814, Time: 2017-12-22 17:37:35.127576
Total Rows Read: 8000000, Paired Rows: 637917, Time: 2017-12-22 17:37:59.605830
Cleanin up!
Total Rows Read: 8100000, Paired Rows: 644725, Time: 2017-12-22 17:38:39.210669
Total Rows Read: 8200000, Paired Rows: 653191, Time: 2017-12-22 17:39:02.620531
Total Rows Read: 8300000, Paired Rows: 661583, Time: 2017-12-22 17:39:29.309894
Total Rows Read: 8400000, Paired Rows: 669330, Time: 2017-12-22 17:39:53.673300
Total Rows Read: 8500000, Paired Rows: 676696, Time: 2017-12-22 17:40:20.108421
Total Rows Read: 8600000, Paired Rows: 684835, Time: 2017-12-22 17:40:47.638479
Total Rows Read: 8700000, Paired Rows: 693165, Time: 2017-12-22 17:41:10.691694
Total Rows Read: 8800000, Paired Rows: 701108, Time: 2017-12-22 17:41:33.799439
Total Rows Read: 8900000, Paired Rows: 709028, Time: 2017-12-22 17:41:58.206605
Total Rows Read: 9000000, Paired Rows: 716750, Time: 2017-12-22 17:42:22.661946
Cleanin up!
Total Rows Read: 9100000, Paired Rows: 724419, Time: 2017-12-22 17:43:00.835664
Total Rows Read: 9200000, Paired Rows: 732449, Time: 2017-12-22 17:43:22.245927
Total Rows Read: 9300000, Paired Rows: 740123, Time: 2017-12-22 17:43:43.445997
Total Rows Read: 9400000, Paired Rows: 747121, Time: 2017-12-22 17:44:05.631116
Total Rows Read: 9500000, Paired Rows: 755383, Time: 2017-12-22 17:44:26.842963
Total Rows Read: 9600000, Paired Rows: 763566, Time: 2017-12-22 17:44:47.319103
Total Rows Read: 9700000, Paired Rows: 771029, Time: 2017-12-22 17:45:07.406653
Total Rows Read: 9800000, Paired Rows: 779120, Time: 2017-12-22 17:45:26.779248
Total Rows Read: 9900000, Paired Rows: 787450, Time: 2017-12-22 17:45:48.950946
Total Rows Read: 10000000, Paired Rows: 795527, Time: 2017-12-22 17:46:12.872764
Cleanin up!
Total Rows Read: 10100000, Paired Rows: 802490, Time: 2017-12-22 17:46:55.055301
Total Rows Read: 10200000, Paired Rows: 809713, Time: 2017-12-22 17:47:16.486833

Total Rows Read: 10300000, Paired Rows: 817972, Time: 2017-12-22 17:47:38.435883
Total Rows Read: 10400000, Paired Rows: 825910, Time: 2017-12-22 17:48:03.208698
Total Rows Read: 10500000, Paired Rows: 832912, Time: 2017-12-22 17:48:27.286376
Total Rows Read: 10600000, Paired Rows: 840871, Time: 2017-12-22 17:48:50.382152
Total Rows Read: 10700000, Paired Rows: 849008, Time: 2017-12-22 17:49:12.675255
Total Rows Read: 10800000, Paired Rows: 856673, Time: 2017-12-22 17:49:37.693490
Total Rows Read: 10900000, Paired Rows: 864501, Time: 2017-12-22 17:50:02.584027
Total Rows Read: 11000000, Paired Rows: 871844, Time: 2017-12-22 17:50:27.218774
Cleanin up!
Total Rows Read: 11100000, Paired Rows: 879618, Time: 2017-12-22 17:51:07.619461
Total Rows Read: 11200000, Paired Rows: 888188, Time: 2017-12-22 17:51:29.519211
Total Rows Read: 11300000, Paired Rows: 896270, Time: 2017-12-22 17:51:51.685435
Total Rows Read: 11400000, Paired Rows: 903760, Time: 2017-12-22 17:52:15.283488
Total Rows Read: 11500000, Paired Rows: 911448, Time: 2017-12-22 17:52:39.593853
Total Rows Read: 11600000, Paired Rows: 919690, Time: 2017-12-22 17:53:02.375971
Total Rows Read: 11700000, Paired Rows: 927632, Time: 2017-12-22 17:53:24.481950
Total Rows Read: 11800000, Paired Rows: 935467, Time: 2017-12-22 17:53:48.031957
Total Rows Read: 11900000, Paired Rows: 942423, Time: 2017-12-22 17:54:11.077114
Total Rows Read: 12000000, Paired Rows: 950483, Time: 2017-12-22 17:54:33.311178
Cleanin up!
Total Rows Read: 12100000, Paired Rows: 957824, Time: 2017-12-22 17:55:14.419134